.container {
    background-color: rgba(248, 255, 246);
    margin: 0 auto;
    padding: 30px;
    width: 60%;
    border-radius: 45px;
    position: relative;
    text-align: center;
    max-width: 800px;
    top: -30px;
    z-index: 1;
    box-sizing: border-box;
    flex-grow: 1;
}

h1 {
    flex: auto;
    text-align: center;
    color: #53b44f;
    padding: 100px
}

.button {
    background-color: #53b44f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 45px;
}

a:hover {
    background-color: #75b473;
}
