/* General button styles */
button,
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: left;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for clicked button */
.clicked {
  background-color: #245626 !important;
}

li {
  color: black;
  text-align: left;
  list-style: none;
}
ol {
  text-align: left;
  list-style: none;
}

.previous-button img {
  width: 70px !important;
  height: 70px !important;
  cursor: pointer;
}